{% extends "base.html.twig" %}

{% block body %}

    {{ render(path('nav',
        {"current": app.request.attributes.get("_route")})
    )
    }}

    <h1>Bonjour {{ userName }} vous avez {{ age }} ans</h1>

    {{ appNameFromController }}

{% endblock %}
